In [7]:
import pandas as pd
from sqlalchemy import create_engine
from config import usid, pw

#store FIRST CSV into dataframe
csv_file = "Resources/Corona_db.csv"
corona_df = pd.read_csv(csv_file)
corona_df.head()

# Filter data from latest date
corona_df = corona_df[corona_df["Date"]=='2/10/2020 19:30']

#Leave only the needed columns
corona_df = corona_df[['Country','Confirmed', 'Deaths',"Recovered"]]

#Groupby country so it can serve as primary key
final_corona_df = corona_df.groupby(["Country"]).sum().copy()
final_corona_df.reset_index()
final_corona_df

                      Confirmed  Deaths  Recovered
Country
Australia                    15       0          2
Belgium                       1       0          0
Cambodia                      1       0          0
Canada                        7       0          0
Finland                       1       0          0
France                       11       0          0
Germany                      14       0          0
Hong Kong                    38       1          0
India                         3       0          0
Italy                         3       0          0
Japan                        26       0          4
Macau                        10       0          1
Mainland China            42310    1011       3921
Malaysia                     18       0          1
Nepal                         1       0          0
Others                      135       0          0
Philippines                   3       1          0
Russia                        2       0          0
Singapore                    45       0          2
South Korea                  27       0          3
Spain                         2       0          0
Sri Lanka                     1       0          1
Sweden                        1       0          0
Taiwan                       18       0          1
Thailand                     32       0         10
UK                            8       0          0
US                           12       0          3
United Arab Emirates          8       0          0
Vietnam                      14       0          1

In [8]:
#store SECOND CSV into dataframe
csv_file = "Resources/Census_db.csv"
census_df = pd.read_csv(csv_file)

#Leave only the needed columns
census_df = census_df[['Country Name','Series Name','2020 [YR2020]']]
#Clean dataframe and pivot 'series name' as column so Country Name can serve as primary key
census_df = census_df.dropna()
census_df = census_df.pivot(index='Country Name', columns='Series Name')['2020 [YR2020]']
census_df = census_df.reset_index()

#Leave only the desired columns
final_census_df = census_df[["Country Name","Population, total","Rural population","Urban population","Population ages 65 and above, total"]].copy()

final_census_df

Series Name,Country Name,"Population, total",Rural population,Urban population,"Population ages 65 and above, total"
0,Afghanistan,3.805500e+07,2.704300e+07,1.101200e+07,1014000.0
1,Albania,2.907000e+06,1.106000e+06,1.801000e+06,417000.0
2,Algeria,4.333300e+07,1.152100e+07,3.181200e+07,2995000.0
3,American Samoa,5.600000e+04,7.000000e+03,4.900000e+04,NaN
4,Andorra,7.700000e+04,1.300000e+04,6.400000e+04,NaN
...,...,...,...,...,...
252,West Bank and Gaza,5.054000e+06,1.192000e+06,3.861000e+06,158000.0
253,World,7.766687e+09,3.405544e+09,4.335802e+09,719082000.0
254,"Yemen, Rep.",3.024500e+07,1.889800e+07,1.134700e+07,957000.0
255,Zambia,1.867900e+07,1.060000e+07,8.080000e+06,525000.0
256,Zimbabwe,1.768000e+07,1.199500e+07,5.685000e+06,524000.0

In [9]:
#Merge Dataset and clean

merged_df = final_corona_df.merge(final_census_df, how = "inner", left_on ="Country", right_on="Country Name")
merged_df = merged_df.set_index("Country Name").dropna()

merged_df

,Confirmed,Deaths,Recovered,"Population, total",Rural population,Urban population,"Population ages 65 and above, total"
Country Name,,,,,,,
Australia,15,0,2,2.537900e+07,2523000.0,22855000.0,4141000.0
Belgium,1,0,0,1.158300e+07,227000.0,11356000.0,2236000.0
Cambodia,1,0,0,1.671600e+07,13043000.0,3673000.0,812000.0
Canada,7,0,0,3.756300e+07,6493000.0,31071000.0,6868000.0
Finland,1,0,0,5.556000e+06,838000.0,4717000.0,1251000.0
France,11,0,0,6.790200e+07,13140000.0,54762000.0,14154000.0
Germany,14,0,0,8.226400e+07,19441000.0,62823000.0,18703000.0
India,3,0,0,1.383198e+09,902080000.0,481118000.0,90170000.0
Italy,3,0,0,6.041800e+07,18241000.0,42177000.0,14507000.0
Japan,26,0,4,1.254170e+08,5938000.0,119478000.0,35685000.0
Nepal,1,0,0,3.026000e+07,24030000.0,6230000.0,1899000.0
Philippines,3,1,0,1.097030e+08,61149000.0,48555000.0,5623000.0
Singapore,45,0,2,5.879000e+06,0.0,5879000.0,886000.0
Spain,2,0,0,4.650500e+07,8985000.0,37520000.0,9449000.0
Sri Lanka,1,0,1,2.155200e+07,17506000.0,4047000.0,2410000.0
Sweden,1,0,0,1.017900e+07,1369000.0,8810000.0,2106000.0
Thailand,32,0,10,6.941100e+07,30650000.0,38761000.0,9005000.0
United Arab Emirates,8,0,0,9.813000e+06,1299000.0,8514000.0,184000.0
Vietnam,14,0,1,9.636000e+07,60900000.0,35459000.0,7749000.0

In [11]:
# connect to local database
rds_connection_string = f"{usid}:{pw}@localhost:5432/ETLpjt"
engine = create_engine(f'postgresql://{rds_connection_string}')

merged_df.to_sql(name='ETLpjt', con=engine, if_exists='append', index=False)