In [20]:
import pandas as pd
from sqlalchemy import create_engine
from config import dbuser, dbpassword

In [38]:
#store FIRST CSV into dataframe
csv_file = "Resources/Corona_db.csv"
corona_data_df = pd.read_csv(csv_file)
corona_data_df.head()

filtered_df = corona_data_df[corona_data_df["Date"]=='2/10/2020 19:30']

filtered_df

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
1127,1128,2/10/2020 19:30,Hubei,Mainland China,2/10/2020 23:33,31728,974,2222
1128,1129,2/10/2020 19:30,Guangdong,Mainland China,2/10/2020 13:43,1159,1,167
1129,1130,2/10/2020 19:30,Zhejiang,Mainland China,2/10/2020 14:13,1092,0,242
1130,1131,2/10/2020 19:30,Henan,Mainland China,2/10/2020 13:53,1073,6,191
1131,1132,2/10/2020 19:30,Hunan,Mainland China,2/10/2020 13:53,879,1,208
...,...,...,...,...,...,...,...,...
1194,1195,2/10/2020 19:30,"Los Angeles, CA",US,2/1/2020 19:53,1,0,0
1195,1196,2/10/2020 19:30,"Madison, WI",US,2/5/2020 21:53,1,0,0
1196,1197,2/10/2020 19:30,"Orange, CA",US,2/1/2020 19:53,1,0,0
1197,1198,2/10/2020 19:30,"Seattle, WA",US,2/9/2020 7:03,1,0,1
1198,1199,2/10/2020 19:30,"Tempe, AZ",US,2/1/2020 19:43,1,0,0

In [39]:
#create new data set with columns
filtered_df = filtered_df[['Country','Confirmed', 'Deaths',"Recovered"]]
final_corona_df = filtered_df.groupby(["Country"]).sum().copy()

final_corona_df

                      Confirmed  Deaths  Recovered
Country
Australia                    15       0          2
Belgium                       1       0          0
Cambodia                      1       0          0
Canada                        7       0          0
Finland                       1       0          0
France                       11       0          0
Germany                      14       0          0
Hong Kong                    38       1          0
India                         3       0          0
Italy                         3       0          0
Japan                        26       0          4
Macau                        10       0          1
Mainland China            42310    1011       3921
Malaysia                     18       0          1
Nepal                         1       0          0
Others                      135       0          0
Philippines                   3       1          0
Russia                        2       0          0
Singapore                    45       0          2
South Korea                  27       0          3
Spain                         2       0          0
Sri Lanka                     1       0          1
Sweden                        1       0          0
Taiwan                       18       0          1
Thailand                     32       0         10
UK                            8       0          0
US                           12       0          3
United Arab Emirates          8       0          0
Vietnam                      14       0          1

In [13]:
#store SECOND CSV into dataframe
csv_file = "Resources/Census_db.csv"
census_data_df = pd.read_csv(csv_file)
census_data_df.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2041 [YR2041],2042 [YR2042],2043 [YR2043],2044 [YR2044],2045 [YR2045],2046 [YR2046],2047 [YR2047],2048 [YR2048],2049 [YR2049],2050 [YR2050]
0,Afghanistan,AFG,Age dependency ratio (% of working-age populat...,SP.POP.DPND,81.717739,82.755907,83.304574,83.550740,83.734450,83.962159,...,49.057098,48.405124,47.772482,47.153619,46.547368,46.014974,45.488733,44.972113,44.471497,43.992485
1,Afghanistan,AFG,"Age dependency ratio, old",SP.POP.DPND.OL,5.086262,5.132609,5.139524,5.111895,5.056182,4.976304,...,6.254638,6.431854,6.615935,6.808329,7.010657,7.235972,7.465706,7.699483,7.935899,8.175734
2,Afghanistan,AFG,"Age dependency ratio, young",SP.POP.DPND.YG,76.631477,77.623299,78.165049,78.438845,78.678267,78.985855,...,42.802460,41.973270,41.156547,40.345290,39.536712,38.779002,38.023028,37.272630,36.535598,35.816751
3,Afghanistan,AFG,"Age population, age 0, female, interpolated",SP.POP.AG00.FE.IN,178556.000000,182674.000000,185434.000000,187513.000000,189945.000000,193553.000000,...,NaN,NaN,NaN,NaN,452000.000000,NaN,NaN,NaN,NaN,430000.000000
4,Afghanistan,AFG,"Age population, age 0, male, interpolated",SP.POP.AG00.MA.IN,177635.000000,181588.000000,185852.000000,190462.000000,195498.000000,201014.000000,...,NaN,NaN,NaN,NaN,476000.000000,NaN,NaN,NaN,NaN,452000.000000

In [51]:
#create new data set with columns
census_data_df.columns

new_census_data_df = census_data_df[['Country Name','2020 [YR2020]']]
new_census_data_df

                                            Country Name  2020 [YR2020]
0                                            Afghanistan      75.842063
1                                            Afghanistan       4.683284
2                                            Afghanistan      71.158780
3                                            Afghanistan  515000.000000
4                                            Afghanistan  540000.000000
...                                                  ...            ...
44807                                                NaN            NaN
44808                                                NaN            NaN
44809                                                NaN            NaN
44810  Data from database: Population estimates and p...            NaN
44811                           Last Updated: 07/03/2017            NaN

[44812 rows x 2 columns]

In [ ]:
#clean data frame
new_corona_country_location_df = customer_location_df[["Country", "2020", "Deaths"]].copy()
new_corona_country_location_df.head()

In [ ]:
# connect to local database
rds_connection_string = f"{dbuser}:{dbpassword}@localhost:5432/Corona_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
#check for tables
engine.table_names()

In [ ]:
# Use pandas to load csv converted DataFrame into database
new_corona_country_location_df.to_sql(name='corona_db', con=engine, if_exists='append', index=False)

In [ ]:
# Use pandas to load SECOND csv converted DataFrame into database
new_corona_country_location_df.to_sql(name='corona_db', con=engine, if_exists='append', index=False)

In [ ]:
# Confirm data has been added by querying the customer_name table (can also use pgadmin)
pd.read_sql_query('select * from corona_db', con=engine).head()

In [ ]:
# Confirm data has been added by querying the customer_location table
pd.read_sql_query('select * from census_db', con=engine).head()